<html>
    <head>
        <meta charset="utf-8">
        <title>Book Info</title>
        <!-- 테이블 스타일 설정 -->
        <style>
            table.GeneratedTable {
                width: 960px;
                height: 640px;
                border-collapse: collapse;
                border-width: 0px;
                border-style: solid;
                color: #000000;
                text-align: center;
            }
            
            table.GeneratedTable td {
              border-width: 0px;
              width: 32px;
              height: 32px;
              border-style: solid;
              padding: 0px;
            }
            
        </style>
    </head>
    <body>
        <div style="display: block;">
            <table class="GeneratedTable" id='map_table' style="position: absolute; text-align: center;"> <!-- 포지션 absolute로 겹쳐지게 설정-->
                <tbody>
                    <% for(var x = 0; x < 20; x++){ %>
                        <tr>
                            <% for(var y = 0; y < 30; y++){ %>
                                <td style="visibility: hidden;">●</td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <img src="/img/library_map.jpg" style = "width:960px; height: 640px;"></img>
        </div>
        <div id="book_data" style="display: block;"> <!-- 책 목록 생성 후 출력-->
            <ul>
                <% for(var i=0; i<book_data.length; i++){ %>
                    <li class = 'source' id = <%= i %> ><%= book_data[i].book_name %> &nbsp;&nbsp;&nbsp;&nbsp;[<%= book_data[i].author %> ]<br><%= book_data[i].classification %>  <%= book_data[i].book_symbol %> </li>
                <% } %>
            </ul>
        </div>
        <script>
            let path = "<%= JSON.stringify(book_path) %>";
            path = path.replaceAll('&#34;', '\"');
            path = JSON.parse(path);
            var map_table = document.getElementById('map_table');
            for(let i = 0; i < path.length; i++) {
                map_table.rows[path[i].x].cells[path[i].y].style = 'color: red; visibility: visible;';
            }
        </script>
    </body>
</html>