<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="Gachon Univ. Library Search Engine | 가천대학교 도서관 검색"/>
        <meta name="keywords" content="가천대학교">
        <meta property="og:url" content="http://chromato99.com"/>
        <meta property="og:description" content="Gachon University Library Search Engine Project. 가천대학교 도서관 검색 프로젝트"/>
        <title>Book Info</title>
        <!-- CSS -->
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #F2F2F2;
            }
            ul{
                margin:0;
                padding:0;
                list-style: none;
            }
            ul li{
                position:relative;
                padding:12px 8px 12px 40px;
                background: #eee;
                font-size:18px;
                transition: 0.2s;
            }
            ul li:nth-child(odd) {
                background-color:#f9f9f9;
            }
            .close {
                position:absolute;
                right:0;
                top:0;
                padding:12px 16px;
                border:none;
                background:rgba(255,255,255,0)
            }
            li {
                padding: 0;
            }
            h1{
                text-align: center;
            }
            table.GeneratedTable {
                width: 960px;
                height: 640px;
                border-collapse: collapse;
                border-width: 0px;
                border-style: solid;
                color: #000000;
                text-align: center;
                position: absolute;
            }
            
            table.GeneratedTable td {
              border-width: 0px;
              width: 32px;
              height: 32px;
              border-style: solid;
              padding: 0px;
              
            }
            body{
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
            }
            a {
                text-decoration: none;
                color: black;
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <h1><a href="http://chromato99.com/">Gachon Univ. Library Search Engine</a></h1>
            <div>
                <table class="GeneratedTable" id='map_table'> <!-- Set to overlap the table with position absolute-->
                    <tbody>
                        <% for(var x = 0; x < 20; x++){ %>
                            <tr>
                                <% for(var y = 0; y < 30; y++){ %>
                                    <td></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <img src="/img/library_map.jpg" style = "width:960px; height: 640px;"></img>
            </div>
            <div id="book_data" style="display: block;"> <!-- Output after creating a book list-->
                <ul>
                    <% for(var i=0; i<book_data.length; i++){ %>
                        <li class = 'source' id = <%= i %> ><%= book_data[i].book_name %> &nbsp;&nbsp;&nbsp;&nbsp;[<%= book_data[i].author %> ]&nbsp;&nbsp;&nbsp;&nbsp;<%= book_data[i].classification %>  <%= book_data[i].book_symbol %> </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <script>
            let path = "<%= JSON.stringify(book_path) %>"; // The part that receives the book path
            path = path.replaceAll('&#34;', '\"');
            path = JSON.parse(path);
            var map_table = document.getElementById('map_table'); // Get map table
            for(let i = 0; i < path.length; i++) {
                if(path[i].x == 5 && path[i].y == 15) { // The part that prints the footprint according to the direction
                    if(path[i-1].x > path[i].x) {
                    map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footU.png' width="32px" height="32px">`;
                    }
                    else if(path[i-1].x < path[i].x) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footD.png' width="32px" height="32px">`;
                    }
                    else if(path[i-1].y > path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footR.png' width="32px" height="32px">`;
                    }
                    else if(path[i-1].y < path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footL.png' width="32px" height="32px">`;
                    }
                }
                else {
                    if(path[i+1].x > path[i].x) {
                    map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footU.png' width="32px" height="32px">`;
                    }
                    else if(path[i+1].x < path[i].x) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footD.png' width="32px" height="32px">`;
                    }
                    else if(path[i+1].y > path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footL.png' width="32px" height="32px">`;
                    }
                    else if(path[i+1].y < path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footR.png' width="32px" height="32px">`;
                    }
                }
            }
        </script>
    </body>
</html>