<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="Gachon Univ. Library Search Engine | 가천대학교 도서관 검색"/>
        <meta name="keywords" content="가천대학교">
        <meta property="og:url" content="http://chromato99.com"/>
        <meta property="og:description" content="Gachon University Library Search Engine Project. 가천대학교 도서관 검색 프로젝트"/>
        <title>Book Info</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/info.css">
    </head>
    <body>
        <div id="wrapper">
            <h1><a href="http://chromato99.com/">Gachon Univ. Library Search Engine</a></h1>
            <div>
                <table class="GeneratedTable" id='map_table'> <!-- Set to overlap the table with position absolute-->
                    <tbody>
                        <% for(var x = 0; x < 20; x++){ %>
                            <tr>
                                <% for(var y = 0; y < 30; y++){ %>
                                    <td></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <img src="/img/library_map.jpg" style = "width:960px; height: 640px;"></img>
            </div>
            <div id="book_data" style="display: block;"> <!-- Output after creating a book list-->
                <ul>
                    <% for(var i=0; i<book_data.length; i++){ %>
                        <li class = 'source' id = <%= i %> ><%= book_data[i].book_name %> &nbsp;&nbsp;&nbsp;&nbsp;[<%= book_data[i].author %> ]&nbsp;&nbsp;&nbsp;&nbsp;<%= book_data[i].classification %>  <%= book_data[i].book_symbol %> </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <script>
            let path = "<%= JSON.stringify(book_path) %>"; // The part that receives the book path
            path = path.replaceAll('&#34;', '\"');
            path = JSON.parse(path);
            var map_table = document.getElementById('map_table'); // Get map table
            for(let i = 0; i < path.length; i++) {
                if(path[i].x == 5 && path[i].y == 15) { // The part that prints the footprint according to the direction
                    if(path[i-1].x > path[i].x) {
                    map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footU.png' width="32px" height="32px">`;
                    }
                    else if(path[i-1].x < path[i].x) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footD.png' width="32px" height="32px">`;
                    }
                    else if(path[i-1].y > path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footR.png' width="32px" height="32px">`;
                    }
                    else if(path[i-1].y < path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footL.png' width="32px" height="32px">`;
                    }
                }
                else {
                    if(path[i+1].x > path[i].x) {
                    map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footU.png' width="32px" height="32px">`;
                    }
                    else if(path[i+1].x < path[i].x) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footD.png' width="32px" height="32px">`;
                    }
                    else if(path[i+1].y > path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footL.png' width="32px" height="32px">`;
                    }
                    else if(path[i+1].y < path[i].y) {
                        map_table.rows[path[i].x].cells[path[i].y].innerHTML = `<img src='/img/footR.png' width="32px" height="32px">`;
                    }
                }
            }
        </script>
    </body>
</html>