<html>
    <head>
        <meta charset="utf-8">
        <title>Book Info</title>
        <!-- 테이블 스타일 설정 -->
        <style>
            table.GeneratedTable {
              width: 960px;
              height: 640px;
              border-collapse: collapse;
              border-width: 0px;
              border-style: solid;
              color: #000000;
              text-align: center;
            }
            
            table.GeneratedTable td {
              border-width: 0px;
              width: 32px;
              height: 32px;
              border-style: solid;
              padding: 0px;
            }
            
        </style>
    </head>
    <body>
        <div style="display: block;">
            <table class="GeneratedTable" style="position: absolute; text-align: center;"> <!-- 포지션 absolute로 겹쳐지게 설정-->
                <tbody>
                    <% for(var i = 0; i < 20; i++){ %>
                        <tr>
                            <% for(var j = 0; j < 30; j++){ %>
                                <td>●</td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <img src="/img/library_map.jpg" style = "width:960px; height: 640px;"></img>
        </div>
        <div id="book_data" style="display: block;"> <!-- 책 목록 생성 후 출력-->
            <ul>
                <% for(var i=0; i<data.length; i++){ %>
                    <li class = 'source' id = <%= i %> ><%= data[i].book_name %> &nbsp;&nbsp;&nbsp;&nbsp;[<%= data[i].author %> ]<br><%= data[i].classification %>  <%= data[i].book_symbol %> </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>